body {
    font-family: "Raleway", sans-serif;
}

.header-section {
    padding: 0px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    position: fixed;
    z-index: 111111111;
}

.container-fluid {
    padding: 10px;
}



.site-logo img {
    /* width: 42px; */
    padding-right: 5px;
}

.menu-list li a {
    /* color: #ffffffb3; */
    color: #285ba7;
    padding-left: 15px;
    /* transition: color 0.2s; */
}

.menu-list li a:hover {
    /* color: #fff; */
    color: #32b0a7;
    font-weight: 700;
}

/* header */


.store-links img {
    height: 50px;
}

.site-btn {
    background: #20509e;
}

.hero-text h2 {
    margin-bottom: 0;
}

.hero-text h4 {
    color: #20509e;
    line-height: 1;
}

/* hero */

.about-text h2 {
    font-weight: 700;
}

/* about */

.features-section {
    /* background-color: #efefef; */
    background: linear-gradient(to right, #89c4f5 0%, #3b67a7 100%, #02041e 100%);
    height: auto;
    position: relative;

}

.features-section>div {
    padding-top: 50px;
    padding-bottom: 0px;
}

.Row {
    display: table-row;
}

.features-title {
    margin-bottom: 30px;
}

.features-title h1 {
    text-align: center;
    font-size: 48px;
}

.feature {
    /* padding-right: px; */
}

.features-content {
    border-top: solid 1px #cccccc;
}

.features-content:first-child {
    border: none;
}

.features-heading,
.features-description {
    padding: 0px 5px 25px;
    font-weight: 500px;
    font-size: 18px;
}

.features-heading {
    color: #3771b8;
}

.features-description {
    color: #75849a;
}

/* features */
.document-section {
    padding: 80px 0 30px;
}

.document-title h1 {
    font-size: 48px;
    padding-bottom: 20px;
}

.document-button button {
    margin-top: 10px;
    letter-spacing: 0.5px;
    background-color: #4d3ee1;
    padding: 16px 50px;
    border-radius: 25px;
    border: transparent;
}

/* document */
svg.svg-cta-top {
    width: 100%;
    height: 100px;
    z-index: 555;
}

svg.svg-cta-bottom {
    width: 100%;
    height: 100px;
    z-index: 555;
}

.download-section {
    background-color: #111935;

}

.download-section>div {
    padding: 40px 0 30px;
}

.download-title h1 {
    font-size: 48px;
    /* color: #2d3c50; */
    color: white;
    padding-bottom: 20px;
}

.download-button button {
    margin-top: 10px;
    letter-spacing: 0.5px;
    background-color: #20509e;
    padding: 16px 50px;
    border-radius: 25px;
    border: transparent;
}

.site-btn {
    border: none;
}

/* download */
/* footer */


.footer-section {
    /* background: #303c42; */
    background-color: #fff;
}

.footer-bottom {
    border: none;
}

.footer-bottom p {
    color: #1d1d1d !important;
}

.footer-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-link a {
    color: white !important;
}


/* common use */

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-height {
    height: 100%;
}